<?xml version="1.0" encoding="UTF-8"?>
<root>
	<AnalogueModels>
		<AnalogueModel type="SimplePathlossModel">
			<parameter name="alpha" type="double" value="2.0"/>
			<parameter name="carrierFrequency" type="double" value="2.400e+9"/>
		</AnalogueModel>
		<AnalogueModel type="SimpleObstacleShadowing">
			<parameter name="carrierFrequency" type="double" value="2.400e+9"/>
		</AnalogueModel>
	</AnalogueModels>
</root>
